// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Poppins');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons';

//Classes
.img {
    align-self: center;
    margin-bottom: 5px;
}

.songTitle {
    display: flex;
    font-size: 20px;
}

body {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    background-color: #2d85c5;
}

nav{
    &.navbar{
        position: sticky;
        top: 0;
        z-index: 100;
    }
}

.navbar {
    &.navbar-dark {
        .container {
            .collapse {
                .navbar-nav {
                    .nav-item{
                        .nav-link{
                            color: white;
                        }
                    }
                }
            }
            .navbar-toggler {
                .navbar-toggler-icon {
                    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e</svg>");
                }
            }
        }
    }
}


.navbar-nav{
    .nav-item {
        &:hover{
            background-color: #27598e;
            border-radius: 25px;

        }
        &.active{
            background-color: #27598e;
            border-radius: 25px;
        }
    }
}

.navbar {
    &.navbar-dark {
        .container {
            .collapse {
                .navbar-nav {
                    .nav-item {
                        .dropdown-menu {
                            background-color: transparent;
                            border-radius: 25px;
                            border: 0;

                            #dropdown-logout {
                                width: 90px;
                                background-color: #2d85c5;
                                border-radius: 25px;
                                border: 0;
                                color: white;
                                padding: 0.5rem 1rem;


                                &:hover {
                                    background-color: #27598e;
                                    border-radius: 25px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 766px) {
    .navbar-nav {
        .nav-item {
            &:hover {
                background-color: #27598e;
                border-radius: 25px;
                width: 90px;
                text-align: center;
            }

            &.active {
                background-color: #27598e;
                border-radius: 25px;
                width: 90px;
                text-align: center;
            }
        }
    }
}

@media (max-width: 766px) {
    .navbar-nav {
        .nav-item {
            &.dropdown {
                &:hover {
                    background-color: #2d85c5;
                    text-align: center;
                }
                a:hover{
                    width: 90px;
                    background-color: #27598e;
                    border-radius: 25px;
                }
                &.active {
                    background-color: #2d85c5;
                    text-align: center;
                }
            }
        }
    }
}

.btn-primary {
    background-color: #2d85c5;
    border-color: #2d85c5;
    border-radius: 25px;
    &:hover{
        background-color: #27598e;
        border-color: #27598e;
        border-radius: 25px;
    }
}

.btn-danger {
    background-color: #EE5566;
    border-color: #EE5566;
    border-radius: 25px;
    &:hover{
        background-color: #900c3e;
        border-color: #900c3e;
        border-radius: 25px;
    }
}


.customPagination{
    .page-link {
        background-color: #2d85c5;
        color: white;
    }
    .page-item {
        &.disabled {
            .page-link {
                background-color: #2d85c5;
                color: white;
            }
        }
    }
}

a {
    color: black;
}

.myFile {
    color: #2d85c5;
}

.customPagination{
    .d-none{
        .pagination {
            .page-item {
                &.active{
                    .page-link{
                        background-color: #f8fafc;
                        color: #2d85c5;
                        border: #2d85c5;
                    }
                }
            }
        }
    }
}

h3 {
    &.alert {
        &.alert-success {
            opacity: 1;
            display: block;
            -webkit-transition: opacity $fade-delay ease-in-out;
            -moz-transition: opacity $fade-delay ease-in-out;
            -ms-transition: opacity $fade-delay ease-in-out;
            -o-transition: opacity $fade-delay ease-in-out;
            transition: opacity $fade-delay ease-in-out;
            &.fadeout {
                opacity:0;
            }
        }
        span {
            .bi-x-circle-fill {
                cursor: pointer;
            }
        }
    }
}





